.wrapper {
  margin-bottom: 1em;
}

.container {
  width: "100%";

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1em 2em;
  border-bottom: 1px solid #f2f2f2;
}

.logo {
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .actionsContainer {
    display: none;
  }
  .actionsContainerPhone {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 0.5em;
    border-bottom: 1px solid #f2f2f2;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
  }
}

@media screen and (min-width: 576px) {
  .actionsContainer {
    width: 350px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
  }
  .actionsContainerPhone {
    display: none;
  }

  .menuIcon {
    display: none;
  }
}

.navLink {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.unselected {
  color: #666666;
}
.selected {
  color: #f07171;
}

.navLink:hover {
  color: black;
}
.navLink:active,
.navLink::after {
  text-decoration: none;
}
